<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Dotdigitalgroup\Email\Model\Apiconnector\Customer">
        <plugin name="ddg_enterprise_customer_plugin" type="Dotdigitalgroup\Enterprise\Plugin\CustomerPlugin"
                sortOrder="1"/>
    </type>
    <type name="Dotdigitalgroup\Email\Helper\Data">
        <plugin name="ddg_enterprise_helper_plugin" type="Dotdigitalgroup\Enterprise\Plugin\HelperPlugin" sortOrder="1"/>
    </type>
    <type name="Dotdigitalgroup\Email\Model\Connector\Datafield">
        <plugin name="ddg_enterprise_data_field_plugin" type="Dotdigitalgroup\Enterprise\Plugin\DataFieldPlugin" sortOrder="1"/>
    </type>
    <type name="Magento\CustomerSegment\Model\ResourceModel\Segment">
        <plugin name="ddg_customer_segment_resource" type="Dotdigitalgroup\Enterprise\Plugin\SegmentPlugin"
                sortOrder="1"/>
    </type>
</config>